@font-face {
	font-family: Roboto;
	src: url("Roboto-Regular.ttf");
}

a, a:visited {
	color: white;
	text-decoration: underline;
}

body {
	font-family: 'Roboto';
	font-size: 14pt;
	background-color: #F9A51B;
	color: white;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

img.logo {
	max-width: 50%;
}

.tagline {
	margin-left: 1vw;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	font-size: 3vw;
	font-family: 'Roboto'
}

.ticker-text {
	margin-left: 1vw;
	font-family: 'Roboto'
}

.about {
	max-width: 50%;
	padding-top: 5%;
	padding-bottom: 5%;
}

.small-text {
	font-size: smaller; 
}

.halign {
	margin: 0 auto;
	text-align: center;
}

* > .valign {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}

.cover + div {
	position: absolute;
	top: 100%;
	width: 100%;
}

@media screen and (min-resolution: 2dppx) {
	body { font-size: 22pt; }
	img.logo { min-width: 75% }
	.tagline { margin-left: 1.25vw; font-size: 4.5vw }
}

