{% extends "layout.njk" %}
{% block content %}
<div class="cover halign">
	<div class="valign">
		<img class="logo" src="/img/logo_transparent.svg" />
		<p class="tagline">The Social Robot</p>
		<p class="ticker-text"><a href="SIM_ICSR_2017_Abstract.pdf" target="_blank">Accepted</a> to the <a href="https://www.waset.org/conference/2017/08/amsterdam/ICSR" target="_blank">ICSR 2017 Conference in Amsterdam!</a></p>
	</div>
</div>

<div class="content halign">
		<p class="video">
			<iframe src="https://player.vimeo.com/video/207216272?color=F9A51B&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</p>
		<p class="about small-text halign">
			SIM was created as the Capstone project of Sahil Anand, John Luetke, Nikhil Venkatesh and Dorothy Wong for thier Master's degree in <a href="http://hcde.uw.edu" target="_blank">Human-Centered Design and Engineering</a> at the <a href="http://uw.edu" target="_blank">University of Washington</a>.
		</p>
		<p class="social small-text halign">
			<a class="twitter halign" target="_blank" href="//twitter.com/SIMSocialRobot"></a>
		</p>
	</div>
{% endblock %}
